.harsh{
    color: black;
    background-color: white !important;
 position:absolute;
 height:35vw;
  width:30vw;
  border:0.01vw solid grey;
  border-radius: 20px;
   margin:0vw 1vw 0vw 2.5vw; 
}
.home{
    height: 10px!important;
    width: 10px!important;
        position: static;
}
.imageh{
    width: 7vw;
    /* height: 10vw; */
    margin: -4vw 0vw 0vw 4vw;
    /* box-shadow:0vw 0vw 0vw 0.13vw; */
    border-radius:  8vh;

      box-shadow: 0.2vw 0 1vw 0.8vw rgba(0, 8, 8, 0.27);
}
.ha{
    margin: 2vw 0vw 1vw 3vw;
}
.hap{
    font-size: 1.4vw;
}
.buttn{
    border: 0.1vw solid black;
    margin: 0.4vw 0.4vw 0.6vw 0.4vw;
     /* font-size: 1.7vw; */
    width: 23vw;
    height: 3.5vw;
    border-radius: 1vw;
    text-overflow:inherit;
}
.final{
    text-align: center;
/* width: 10vw; */
}

.final>p{
    font-size:1.4vw;
    font-weight: 600;
      
}
.final{
    width: 20vw;
      border: 1px solid black;
 text-align: center;
    margin: 2vw 3vw 0vw 2vw;
    border-radius: 3vw;
    height: 4vw;
      box-shadow: 0.2vw 0.2vw grey;
}
.buttn>p{
    font-size: 1.2vw;
}