.harsh{
    color: black;
    background-color: white !important;
 position:absolute;
 height:35vw;
  width:30vw;
  border:0.01vw solid grey;
  border-radius: 20px;
   margin:0vw 1vw 0vw 2.5vw;
   animation: 2s fadeIn;
     animation-fill-mode:forwards; 
     
  visibility: hidden;  
}
.home{
    height: 10px!important;
    width: 10px!important;
        position: static;
}
.imageh{
      animation: 3s fadeIn;
     animation-fill-mode:forwards; 
     
  visibility: hidden;
    width: 7vw;
    /* height: 10vw; */
    margin: -4vw 0vw 0vw 4vw;
    /* box-shadow:0vw 0vw 0vw 0.13vw; */
    border-radius:  8vh;

      box-shadow: 0.2vw 0 1vw 0.8vw rgba(0, 8, 8, 0.27);
}
.ha{
    margin: 2vw 0vw 1vw 3vw;
}
.hap{
    font-size: 1.4vw;
      animation: 4s fadeIn;
     animation-fill-mode:forwards;
  visibility: hidden;
}
.mainiris{
   animation: 1s fadeIn;
     animation-fill-mode:forwards; 
     
  visibility: hidden; 
}
.buttn1{
    animation: 5s fadeIn;
     animation-fill-mode:forwards; 
     
  visibility: hidden; 
    border: 0.1vw solid black;
    margin: 0.4vw 0.4vw 0.6vw 0.4vw;
     /* font-size: 1.7vw; */
    width: 23vw;
    height: 3.5vw;
    border-radius: 1vw;
    text-overflow:inherit;
}
.buttn2{
    animation: 6s fadeIn;
     animation-fill-mode:forwards; 
     
  visibility: hidden; 
    border: 0.1vw solid black;
    margin: 0.4vw 0.4vw 0.6vw 0.4vw;
     /* font-size: 1.7vw; */
    width: 23vw;
    height: 3.5vw;
    border-radius: 1vw;
    text-overflow:inherit;
}
.buttn3{
    animation: 7s fadeIn;
     animation-fill-mode:forwards; 
     
  visibility: hidden; 
    border: 0.1vw solid black;
    margin: 0.4vw 0.4vw 0.6vw 0.4vw;
     /* font-size: 1.7vw; */
    width: 23vw;
    height: 3.5vw;
    border-radius: 1vw;
    text-overflow:inherit;
}


.buttn4{
    animation:8s fadeIn;
     animation-fill-mode:forwards; 
  visibility: hidden; 
    border: 0.1vw solid black;
    margin: 0.4vw 0.4vw 0.6vw 0.4vw;
     /* font-size: 1.7vw; */
    width: 23vw;
    height: 3.5vw;
    border-radius: 1vw;
    text-overflow:inherit;
}
.final{
 width: 20vw;
      border: 1px solid black;
 text-align: center;
    margin: 2vw 3vw 0vw 2vw;
    border-radius: 3vw;
    height: 4vw;
      box-shadow: 0.2vw 0.2vw grey;
      
    animation:9s fadeIn;
     animation-fill-mode:forwards; 
  visibility: hidden; 

}
@keyframes fadeIn {
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.final>p{
    font-size:1.4vw;
    font-weight: 600;
      
}

.buttn>p{
    font-size: 1.2vw;
}